<nav class="p-3 d-flex justify-content-between align-items-center fixed-top">
    <ul class="list-unstyled text-decoration-none d-flex">
        <li *ngIf="isLogin" class="px-2"><a routerLink="home">Home</a></li>
        <li *ngIf="isLogin" class="px-2"><a routerLink="about">About us</a></li>
        <li *ngIf="isLogin" class="px-2"><a routerLink="contacts">Contacts</a></li>
    </ul>
    <ul class="list-unstyled d-flex">
        <li class="px-2"><a><i class="fab fa-instagram"></i></a></li>
        <li class="px-2"><a><i class="fab fa-facebook"></i></a></li>
        <li class="px-2"><a><i class="fab fa-youtube"></i></a></li>
        <li class="px-2 me-4"><a><i class="fab fa-twitter"></i></a></li>
            <li *ngIf="isLogin" class="px-2 nav-item dropdown">
            <a class=" dropdown-toggle" routerLink="settings" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Settings
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="password">Password</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="roles">Roles</a></li>
            </ul>
        </li>
        <li *ngIf="!isLogin"class="px-2"><a routerLink="login">Login</a></li>
        <li *ngIf="!isLogin"class="px-2"><a routerLink="register">Register</a></li>
        <li (click)='logOut()' *ngIf="isLogin" class="px-2"><a routereLink="#">LogOut</a></li>
    </ul>
</nav>
