@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body
{
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #131722 !important;
    color: #fff;
}
a
{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.vote
{
    background-color: #24baef;
    padding: 5px;
    font-weight: 900;
    color: #fff;
}
.second-color
{
    color: #949cb0 !important;
}
.border
{
    color: #a8a8a83d;
    height: 1px;
}